[submodule "vendor/gpuimage"]
	path = vendor/gpuimage
	url = https://github.com/BradLarson/GPUImage.git
[submodule "vendor/mkstorekit"]
	path = vendor/mkstorekit
	url = git://github.com/MugunthKumar/MKStoreKit.git
[submodule "vendor/facebooksdk"]
	path = vendor/facebooksdk
	url = git@github.com:ForrestShi/facebook-ios-sdk.git
